.i-code-input {
  display: inline-block;

  * {
    box-sizing: border-box;
  }

  input {
    width: 22px;
    border-radius: 0;
    border: 1px solid black;
    outline: none;
    text-align: center;

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
